{% extends 'base.html'%}

{% block content %}

<style>
    .table, th, td {
        border: 3px solid green ;
        font-size:20px;
        }
    .titlehead{
        text-align:center;
        }
    .p{
        text-align:right;
        }
    .clscurrentdate{
        color:green;
        }
    .department-container{
        display:grid;
        grid-template-rows: 1fr 3fr;
        }
</style>

<div class="department-container">
    <div>
        <div>
            {% for department in departments %}
                <a href="{% url 'weeklymonitor'%}?q={{department}}">{{department}}</a>

            {% endfor %}
        
            
        </div>
    </div>

    
    <div>
        <div>
            <p class="clscurrentdate">The current date is: {{ currentdate }}</p>

            <table style="width:auto;">
            <tr>
                <th>Owner</th>
                <th>Equipment ID</th>
                <th>Description</th>
                <th>Cal Item</th>
                <th>Status</th>
                <th>Serial No</th>
                <th>Model No</th>
                <th>Manufacturer</th>
                <th>Last Cal Date</th>
                <th>Next Due Date</th>
                <th>Frequency</th>
                <th>Days of Due</th>
                <th>Action</th>
                <th>Cal Type</th>
                <th>Reason</th>
                </th>
            </tr>
            {% for weeklymonitor in weeklymonitors %}
            <tr>
                <td>{{ weeklymonitor.department.department }}</td>
                <td>{{ weeklymonitor.equipment.equipment_id }}</td>
                <td>{{ weeklymonitor.equipment.description }}</td>
                <td>{{ weeklymonitor.equipment.cal_item}}</td>
                <td>{{ weeklymonitor.equipment.status  }}</td>
                <td>{{ weeklymonitor.equipment.serial_no }}</td>
                <td>{{ weeklymonitor.equipment.model_no }}</td>
                <td>{{ weeklymonitor.equipment.manufacturer }}</td>
                <td>{{ weeklymonitor.last_cal }}</td>
                <td>{{ weeklymonitor.due_cal}}</td>
                <td>{{ weeklymonitor.get_difference}}</td>
                <td>
                {% if weeklymonitor.get_remain > 60 %}
                     <span style="color:black">{{ weeklymonitor.get_remain}}</span>
                {% elif weeklymonitor.get_remain < 0 %}
                    <span style="color:red ">{{ weeklymonitor.get_remain}} </span> 
                {% else %}
                    <span style="color:green">{{ weeklymonitor.get_remain}}</span>
                {%endif %}
                <td>
                {% if weeklymonitor.get_remain < 10 %}
                            Action Required
                        {% else %}
                            No Action Required
                        {% endif %}
                </td>
                <td>{{ equipment.cal_type}}</td>
                <td>{{ weeklymonitor.remark}}</td>
            </tr>
         
            
        {% endfor %}

        <table>

        
        </div>

    </div>
    
</div>

{% endblock content%}
